.sectionWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 190px 0 100px 0;
  background: #0e101f
    url("../../../shared/assets/images/interise-group/hero-bg.png") no-repeat
    right top fixed;
  background-size: contain;
  @media screen and (max-width: 1440px) {
    padding: 142px 0 125px 0;
  }
  @media screen and (max-width: 1040px) {
    flex-direction: column;
    padding: 107px 15px 50px 15px;
    gap: 50px;
  }
  @media screen and (max-width: 992px) {
    padding: 100px 16px 30px 16px;
    gap: 50px;
    background: #0e101f
      url("../../../shared/assets/images/interise-group/hero-bg-mobile.png")
      no-repeat top;
    background-size: contain;
  }
}

.sectionLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bannerTitle {
  color: #fff;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -2.48px;
  margin-bottom: 32px;

  .brMobile {
    display: none;
  }

  span {
    color: #107efd;
  }

  @media screen and (max-width: 1040px) {
    font-size: 36px;
    margin-bottom: 21px;
    br {
      display: none;
    }
  }
  @media screen and (max-width: 570px) {
    font-size: 36px;
    margin-bottom: 21px;
    max-width: 320px;
    .brMobile {
      display: block;
    }
    .brDesktop {
      display: none;
    }
  }
}

.bannerDescription {
  color: #798b9e;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.4px;
  margin-bottom: 39px;
  @media screen and (max-width: 1040px) {
    margin-bottom: 21px;
    color: #8fb0e1;
    font-size: 14px;
    letter-spacing: -0.28px;
  }
}

.buttonBanner {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  width: 183px;
  height: 44px;

  padding: 6px 16px;

  border-radius: 6.589px;
  background: #fff;

  color: #01102b;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  @media screen and (max-width: 1040px) {
    width: 100%;
    justify-content: center;
  }
}

.buttonBannerIcon {
  border-radius: 6px;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  background: #0076fe;
}

.stats {
  border-radius: 12px;

  background: rgba(111, 166, 255, 0.1);
  backdrop-filter: blur(10px) saturate(120%);
  -webkit-backdrop-filter: blur(10px) saturate(120%);

  border: 1px solid rgba(111, 166, 255, 0.1);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);

  width: 100%;
  max-width: 850px;
  margin-bottom: 40px;
  gap: 30px;
  align-items: stretch;
  padding: 18px;

  .line {
    width: 1px;
    max-height: 106px;
    background: #444c6f;
  }

  @media screen and (max-width: 1040px) {
    width: 100%;
    padding: 8px;
    gap: 8px;
    margin-bottom: 160px;
    max-width: 570px;
    background: rgba(111, 166, 255, 0.1);
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
  }
}

.item {
  width: 25%;

  &:last-child {
    width: 40%;
  }

  @media screen and (max-width: 1040px) {
    width: 100%;
    justify-content: center;
  }
}

.counter {
  display: flex;
  align-items: flex-end;

  span {
    font-size: 48px;
    font-weight: 500;
    line-height: 110%;
    background: linear-gradient(299deg, #0076fe 33.43%, #6dc9ff 88.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  sup {
    color: #0076fe;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  @media screen and (max-width: 1040px) {
    span {
      background: linear-gradient(299deg, #0076fe 33.43%, #0076fe 88.06%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 20px;
      font-weight: 500;
    }
    sup {
      font-size: 8px;
    }
  }
}

.info {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.32px;
  @media screen and (max-width: 1040px) {
    font-size: 8px;
    letter-spacing: -0.16px;
  }
}
