.sectionWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 142px 0 125px 0;
  background-image: url("../../../shared/assets/images/interise-group/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (max-width: 1440px) {
    padding: 142px 15px 125px 15px;
  }
  @media screen and (max-width: 1040px) {
    flex-direction: column;
    padding: 107px 15px 50px 15px;
    gap: 50px;
    border-radius: 0 0 32px 32px;
  }
}

.sectionLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 65px;
  @media screen and (max-width: 1040px) {
    padding-top: 30px;
  }
}

.bannerTitle {
  color: #fff;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -2.48px;
  margin-bottom: 32px;

  span {
    color: #107efd;
  }
  @media screen and (max-width: 1040px) {
    font-size: 36px;
    margin-bottom: 21px;
    br {
      display: none;
    }
  }
}

.bannerDescription {
  color: #798b9e;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.4px;
  margin-bottom: 39px;
  @media screen and (max-width: 1040px) {
    margin-bottom: 21px;
    font-size: 14px;
  }
}

.buttonBanner {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  height: 44px;
  padding: 6px 22px 6px 24px;
  width: 183px;
  @media screen and (max-width: 1040px) {
    width: 100%;
    justify-content: center;
  }
}

.buttonBannerIcon {
  border-radius: 6.4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats {
  border-radius: 12px;
  background: rgba(111, 166, 255, 0.1);
  width: 850px;
  margin-bottom: 40px;

  @media screen and (max-width: 1040px) {
    width: 100%;
    margin-bottom: 183px;
  }
}

.item {
  padding: 0 30px;
  width: 25%;
  &:not(:last-child) {
    border-right: 1px solid #444c6f;
  }
  &:last-child {
    width: 40%;
  }
  @media screen and (max-width: 1040px) {
    justify-content: center;
  }
}

.number {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 121.2%;
  background: linear-gradient(299deg, #0076fe 33.43%, #6dc9ff 88.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media screen and (max-width: 1040px) {
    font-size: 20px;
    font-weight: 500;
  }
}

.info {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.32px;
  @media screen and (max-width: 1040px) {
    font-size: 8px;
    letter-spacing: -0.16px;
  }
}
