.sectionWrapper {
  .title {
    text-align: center;
    color: #566677;
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.64px;

    span {
      color: #0076fe;
    }
  }

  .subtitle {
    color: #566677;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 14px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 32px;
    grid-row-gap: 30px;
    margin-top: 50px;

    .card {
      padding: 32px;
      width: 100%;
      border-radius: 24px;
      border: 1px solid #d4e4f7;
      background: radial-gradient(
        169% 309% at 41.88% 40.77%,
        #f2f8ff 20.19%,
        #0076fe 100%
      );

      .cardTitle {
        color: #535e6b;
        font-size: 24px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -0.48px;

        span {
          color: #0076fe;
        }
      }

      .cardText {
        max-width: 550px;
        margin-top: 20px;
        color: #566677;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -0.32px;
      }
    }
  }

  .box {
    margin: 90px 0;
    padding: 36px 40px;
    height: 295px;
    border-radius: 24px;
    border: 1px solid #d4e4f7;
    background: url("../../../shared/assets/images/interise-group/image-research-7.png")
      no-repeat right center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      text-align: left;
    }

    .subtitle {
      max-width: 590px;
    }

    .btn {
      width: 233px;
      height: 44px;
      border-radius: 8px;
      background: #0076fe;

      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
    }
  }
}
