.topSectionWrapper {
  width: 100%;
  background: url("../../../shared/assets/images/interise-group/image-research-1.png")
    no-repeat top center fixed;
  background-size: contain;
  min-height: 333px;
  padding-top: 123px;

  .container {
    padding: 0 65px;

    h1 {
      margin-top: 40px;
      color: #fff;
      font-size: 64px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: -1.28px;
    }
  }
}

.sectionWrapper {
  width: 100%;
  padding: 60px 0 100px;
  background: url("../../../shared/assets/images/interise-group/image-research-6.png")
    no-repeat center center;
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
      font-weight: 400;
    }

    .title {
      color: #566677;
      font-size: 32px;
      line-height: 120%;
      letter-spacing: -0.64px;

      span {
        color: #0076fe;
      }
    }

    .subtitle {
      color: #2c333c;
      font-size: 16px;
      line-height: 140%;
      margin: 21px 0;
      max-width: 763px;
    }

    .btn {
      width: 233px;
      height: 44px;
      border-radius: 8px;
      background: #0076fe;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
    }
  }
}

@media screen and (max-width: 1040px) {
  .topSectionWrapper {
    min-height: 220px;
    padding-top: 112px;
    background: url("../../../shared/assets/images/interise-group/image-research-1.png")
      no-repeat top center fixed;
    background-size: auto 220px;

    .container {
      padding: 0 16px;

      .sectionHead {
        flex-direction: column;
        align-items: flex-start;
      }

      h1 {
        margin-top: 12px;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -0.64px;
      }
    }
  }

  .sectionWrapper {
    padding: 31px 16px;
    background: url("../../../shared/assets/images/interise-group/image-research-6.png")
      no-repeat center center;
    background-size: contain;

    .container {
      .title {
        font-size: 24px;
        letter-spacing: -0.48px;
      }

      .subtitle {
        font-size: 12px;
        max-width: 763px;

        br {
          display: none;
        }
      }

      .btn {
        width: 100%;
        height: 44px;
      }
    }
  }
}
