@import "src/shared/styles/font-mixins";

.navbarWrapper {
  padding: 0.9375rem 1.125rem 0.9375rem 1.0625rem;
  border-radius: 6px;
  border: 1px solid #d4e4f7;
  background: #f2f8ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 2%;
  width: 100%;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(1440px - 128px);
  margin: 0 auto;
  animation: navbarBounce 1s ease-in-out;

  .logo {
    color: #111827;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    user-select: none;
  }

  .menu {
    display: flex;
    align-items: center;
    column-gap: 44px;
    list-style: none;

    .link {
      a {
        color: #111827;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        user-select: none;

        &:hover {
          color: #0076fe;
        }
      }

      &.active {
        a {
          color: #0076fe;
        }
      }
    }

    @media screen and (max-width: 1250px) {
      column-gap: 16px;
    }
  }

  @media screen and (max-width: 1440px) {
    max-width: calc(100% - 128px);
  }
  @media screen and (max-width: 992px) {
    max-width: calc(100% - 32px);
  }
}

@keyframes navbarBounce {
  0% {
    top: -2%;
    opacity: 0;
  }
  50% {
    top: 4%;
    opacity: 1;
  }
  100% {
    top: 2%;
    opacity: 1;
  }
}

.lang {
  max-width: 97px;
  background: #2c2c2c;
  border-radius: 8px;

  input {
    border: none;
    text-transform: uppercase;
    background: #2c2c2c;
    color: #fff;
    font-size: 15px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 0 32px;
  }
}

.selectOption {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;

  &:hover {
    background: #e1eeff;
    color: #0076fe;
  }
}

.menuItem {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
  display: flex;
  align-items: center;

  &.active {
    font-weight: 600;
  }
}

.mobileDrawer {
  padding: 16px;

  .drawerHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .drawerBody {
    margin-top: 24px;

    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;

      color: #111827;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 12px;

      &.active {
        font-weight: 600;

        svg {
          transform: rotate(180deg);
        }
      }
    }

    .collapse {
      padding-left: 16px;
    }
  }
}

@media screen and (max-width: 1040px) {
  .navbarWrapper {
    padding: 7px 10px;
    height: 55px;

    .logo {
      font-size: 26px;
      line-height: 26px;
    }

    .menu {
      display: none;
    }

    .lang {
      display: none;
    }
  }
}
