@import "src/shared/styles/font-mixins";

.navbarWrapper {
  padding: 0.9375rem 1.125rem 0.9375rem 1.0625rem;
  border-radius: 6px;
  border: 1px solid #d4e4f7;
  background: #f2f8ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 2%;
  width: 100vw;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);

  .logo {
    color: #111827;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    user-select: none;
  }

  .menu {
    display: flex;
    align-items: center;
    column-gap: 44px;
    list-style: none;

    .link {
      a {
        color: #111827;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        user-select: none;
      }

      &.active {
        a {
          font-weight: 600;
          position: relative;

          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -4px;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 16px);
            height: 1px;
            background-color: #f4b645;
            border-radius: 2px;
          }
        }
      }
    }

    .parentLink {
      color: #111827;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      user-select: none;

      &.active {
        font-weight: 600;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translate(-50%, -50%);
          width: calc(100% - 40px);
          height: 1px;
          background-color: #f4b645;
          border-radius: 2px;
        }
      }
    }
  }
}

.lang {
  max-width: 90px;

  input {
    border: none;
    color: #67637a;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.menuItem {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
  display: flex;
  align-items: center;

  &.active {
    font-weight: 600;
  }
}

.mobileDrawer {
  padding: 16px;

  .drawerHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .drawerBody {
    margin-top: 24px;

    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;

      color: #111827;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 12px;

      &.active {
        font-weight: 600;

        svg {
          transform: rotate(180deg);
        }
      }
    }

    .collapse {
      padding-left: 16px;
    }
  }
}

@media screen and (max-width: 576px) {
  .navbarWrapper {
    height: 80px;
    padding: 12px 16px;

    .logo {
      font-size: 26px;
      line-height: 26px;
    }

    .menu {
      display: none;
    }

    .lang {
      display: none;
    }
  }
}
