@import "src/shared/styles/font-mixins";

.sectionWrapper {
  padding: 100px 0 84px 0;

  .card {
    width: 100%;
    max-width: 480px;
    height: 100%;
    border-radius: 24px;
    border: 1px solid #d4e4f7;
    background: #f2f8ff;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .image {
      width: 100%;
      height: 122px;
      border-radius: 16px;
      object-fit: cover;
      margin: 15px 0 23px 0;
      border: 1px solid #D4E4F7;
    }

    .cardNumber {
      color: #BFD8F4;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%;
      letter-spacing: -0.48px;
      position: absolute;
      top: 12px;
      right: 24px;
      display: flex;
      justify-content: flex-end;
    }

    .cardInfo {
      color: #566677;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.32px;

      b {
        font-weight: 700;
      }
    }

    //p {
    //  width: 100%;
    //  color: #566677;
    //  font-size: 16px;
    //  font-style: normal;
    //  font-weight: 400;
    //  line-height: 120%;
    //  letter-spacing: -0.32px;
    //
    //  overflow: hidden;
    //  white-space: nowrap;
    //  text-overflow: ellipsis;
    //}
    @media screen and (max-width: 1040px) {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 1040px) {
    padding: 50px 15px 40px 15px;
  }
}

.carouselControls {
  height: 48px;
  top: 50%;
  transform: translateY(-40%);
  left: -5%;
  right: 0;
  width: 110%;
  @media screen and (max-width: 1040px) {
    left: 0;
    right: 0;
    width: 100%;
  }
}

.carouselControl {
  &:nth-child(1) {
    svg {
      transform: rotate(-180deg);
    }
  }

  &[data-inactive="true"] {
    border: none;
    background: #f2f4f7;
  }
}
