@import "src/shared/styles/font-mixins";

.sectionWrapper {
  position: relative;
  background: url("../../../shared/assets/images/interise-group/banner-bg.png") no-repeat center;
  background-size: cover;
  padding: 97px 0 86px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  @media screen and (max-width: 1040px) {
    padding: 60px 15px 60px 15px;
  }
}


.badge{
  border-radius: 35px;
  border: 1px solid #0076FE;
  background: rgba(96, 154, 255, 0.10);
  padding: 10px 16px;
  height: 40px;
}
