//@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&family=Taviraj:wght@300;400;500;600;700;800;900&display=swap");
@import "./font-mixins";
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif !important;

}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.section-title {
  //@include font-taviraj;
  color: #8696A9;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.2%;

  //&.md {
  //  font-size: 48px;
  //  line-height: 64px;
  //}
  //
  //&.sm {
  //  font-size: 36px;
  //  line-height: 48px;
  //}

  @media screen and (max-width: 576px) {
    font-size: 32px;
    line-height: 36px;

    &.sm {
      font-size: 24px;
      line-height: 26px;
    }

    &.md {
      font-size: 30px;
      line-height: 32px;
    }
  }
}

.section-subtitle {
  color: #2c333c;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.64px;

  span {
    color: #0076fe;
  }

  @media screen and (max-width: 576px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  //padding: 0 64px;
  @media screen and (max-width: 576px) {
    padding: 0 16px;
  }
}

.btn-filled__back {
  height: auto;
  padding: 12px 7px;
  border-radius: 8px;
  border: 1px solid #1c6bf9;
  background: #fff;
  color: #01102b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  transition: background 0.2s;

  &:hover {
    background: #0076FE;
    border: 1px solid #fff;
    color: #fff;

    //svg {
    //  path {
    //    fill: #111827;
    //  }
    //}
  }

  &:disabled {
    color: #667085;
    border-radius: 24px;
    background: #f2f4f7;
  }

  @media screen and (max-width: 576px) {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 18px;
  }
}


.btn-filled__black {
  height: 44px;
  border-radius: 8px;
  border: 1px solid #0076FE;
  background: #010C22;
  color: #F5F5F5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  transition: background 0.2s;

  &:hover {
    background: #0076FE;
    border: 1px solid #fff;
    color: #fff;

    //svg {
    //  path {
    //    fill: #111827;
    //  }
    //}
  }
}


.btn-outline {
  height: auto;
  padding: 12px 7px;
  border-radius: 8px;
  border: 1px solid #111827;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  transition: background 0.2s;

  &:hover {
    color: #fff;
    background: #111827;
    border: 1px solid transparent;

    svg {
      path {
        fill: #ffffff;
      }
    }
  }

  @media screen and (max-width: 576px) {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 18px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
