.sectionWrapper {
  width: 100%;
  padding: 60px 0;
  display: flex;
  justify-content: flex-end;
  margin: 100px auto 0;
  position: relative;
  background-color: #010C22;
  background-image: url("../../shared/assets/images/interise-group/formt-bg-bottom.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  @media screen and (max-width: 1040px) {
    padding: 60px 15px;
  }
}

.box {
  width: 100%;
}

.boxForm {
  border-radius: 24px;
  background: linear-gradient(0deg, #0076FE 0%, #0076FE 100%), #F2F8FF;
  padding: 30px;
  width: 40%;
  @media screen and (max-width: 1040px) {
    width: 100%;
    padding: 20px 18px;
  }

  h2 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
  }

  p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.32px;
    @media screen and (max-width: 1040px){
      br{
        display: none;
      }
    }
  }
}

.boxFormImage {
  width: 60%;
  border-radius: 24px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 1040px) {
    width: 100%;
  }
}

.partnerBox {
  border-radius: 24px;
  border: 1px solid #D4E4F7;
  background: #F2F8FF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .image {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 13px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: 845px) {
      height: 257px;
    }
  }

  @media screen and (max-width: 1024px) {
    border-radius: 20px;
  }

}

.partnerBoxRight {
  display: inherit;
}

.socialLinksIcon {
  @media screen and (max-width: 1024px) {
    svg {
      width: 44.195px;
      height: 44.195px;
    }
  }
}

.listWrapper {
  &::marker {
    padding-right: 0;
  }
}

.mapLeft {
  border-radius: 24px;
  border: 1px solid #D4E4F7;
  background: #F2F8FF;
  padding: 30px;
  width: 70%;
  display: flex;
  align-items: center;
  gap: 64px;
  justify-content: space-between;

  .infoTitle {
    color: #535E6B;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
  }

  .infoText {
    color: #798B9E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.32px;

    span {
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }

  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    width: 100%;
    padding: 26px 20px;
    gap: 16px;
    div {
      width: 100%;
    }
  }

}

.mapRight {
  width: 30%;
  border-radius: 24px;
  border: 1px solid #D4E4F7;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    width: 100%;
    height: 278px;
  }
}
