.sectionWrapper {
  padding: 64px 64px 48px;

  h3 {
    color: #2c333c;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.64px;

    span {
      color: #0076fe;
    }
  }

  .subtitle {
    text-align: center;
    color: #566677;
    font-size: 16px;
    font-weight: 400;
    line-height: 121.2%;
    margin: 17px 0;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 700px;
    gap: 4px;
    justify-content: center;

    .filterBtn {
      user-select: none;
      cursor: pointer;
      padding: 10px 16px;
      background: rgba(89, 133, 209, 0.1);

      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.32px;

      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1px;
        border-radius: 35px;
        background: linear-gradient(15deg, #000b21, #0076fe);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        mask:
          linear-gradient(90deg, #fff 0%, #fff 100%) content-box,
          linear-gradient(90deg, #fff 0%, #fff 100%);
        mask-composite: exclude;
        z-index: -1;
      }
    }
  }

  .cards {
    margin: 70px 0 48px;
    display: flex;
    gap: 32px;

    .card {
      padding: 32px;
      width: 100%;
      border-radius: 24px;
      border: 1px solid #d4e4f7;
      background: #f2f8ff;

      .cardTitle {
        color: #566677;
        font-size: 32px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -0.64px;
        margin-bottom: 38px;
      }

      .cardItem {
        display: flex;
        align-items: center;
        gap: 28px;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        .image {
          width: 154px;
          height: 152px;
          border-radius: 12px;
          object-fit: cover;
        }

        .itemTitle,
        .itemText {
          color: #566677;
          font-weight: 400;
          line-height: 120%;
        }

        .itemTitle {
          font-size: 20px;
          letter-spacing: -0.4px;
        }

        .itemText {
          max-width: 348px;
          font-size: 16px;
          letter-spacing: -0.32px;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 4px 0 12px;
        }

        .itemLink {
          color: #0076fe;
          font-size: 16px;
          font-weight: 400;
          line-height: 121.2%;
        }
      }
    }
  }

  .box {
    padding: 30px 24px;
    width: 100%;
    border-radius: 24px;
    border: 1px solid #d4e4f7;
    background: #f2f8ff;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }

    .image {
      width: 390px;
      height: 268px;
      object-fit: cover;
      border-radius: 24px;
      border: 1px solid #d4e4f7;
    }

    .contentWrapper {
      max-width: 640px;

      p {
        color: #566677;
        font-weight: 400;
        line-height: 120%;
      }

      .label {
        font-size: 16px;
        letter-spacing: -0.32px;
      }

      .title {
        font-size: 32px;
        letter-spacing: -0.64px;
      }

      .description {
        font-size: 16px;
        letter-spacing: -0.32px;
        margin: 18px 0;
      }

      .btn {
        width: 233px;
        height: 44px;
        border-radius: 8px;
        background: #0076fe;

        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
      }
    }

    .eventDate {
      .date {
        display: flex;
        align-items: center;
        gap: 14px;

        color: #566677;
        font-size: 24px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -0.48px;
      }
    }
  }
}
