.topSectionWrapper {
  width: 100%;
  min-height: 333px;
  padding-top: 123px;

  background: url("../../../shared/assets/images/interise-group/image-interise-club.png")
    no-repeat top center fixed;
  background-size: 120% 333px;
  .container {
    padding: 0 65px;
    margin-bottom: 25px;

    h1 {
      margin-top: 40px;
      color: #fff;
      font-size: 64px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: -1.28px;
    }
  }
}

@media screen and (max-width: 1040px) {
  .topSectionWrapper {
    min-height: 220px;
    padding-top: 100px;
    background: url("../../../shared/assets/images/interise-group/image-interise-club.png")
      no-repeat top center fixed;
    background-size: auto 220px;

    .container {
      padding: 0 16px;
      margin-bottom: 25px;

      h1 {
        margin-top: 12px;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -0.64px;
      }
    }
  }
}
