.topSectionWrapper {
  width: 100%;
  background: url("../../../shared/assets/images/interise-group/image-research-1.png")
    no-repeat top center fixed;
  background-size: contain;
  min-height: 333px;
  padding-top: 123px;

  .container {
    padding: 0 65px;

    h1 {
      margin-top: 40px;
      color: #fff;
      font-size: 64px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: -1.28px;
    }
  }
}

.sectionWrapper {
  display: flex;
  justify-content: space-between;
  gap: 33px;
  margin: 60px auto;

  .title {
    color: #566677;
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.64px;

    span {
      color: #0076fe;
    }
  }

  .subtitle {
    color: #2c333c;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 32px;
    max-width: 566px;
  }

  .image {
    width: 528px;
    height: 312px;
    border-radius: 24px;
    border: 1px solid #d4e4f7;
    object-fit: cover;
  }
}

@media screen and (max-width: 1040px) {
  .topSectionWrapper {
    min-height: 220px;
    padding-top: 112px;
    background: url("../../../shared/assets/images/interise-group/image-research-1.png")
      no-repeat top center fixed;
    background-size: auto 220px;

    .container {
      padding: 0 16px;

      h1 {
        margin-top: 12px;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -0.64px;
      }
    }
  }

  .sectionWrapper {
    flex-direction: column;
    gap: 12px;
    margin: 20px auto;
    padding: 0 16px;

    .title {
      font-size: 24px;
      letter-spacing: -0.48px;
    }

    .subtitle {
      font-size: 14px;
      max-width: 566px;
      margin-top: 12px;
    }

    .image {
      width: 100%;
      height: 250px;
      border-radius: 18px;
    }
  }
}
